<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div>
    <div class="login">
        <div class="login-panel">
            <div class="login-title">
                <h2>用户登陆</h2>
            </div>
            <div class="login-container">
                <input type="text" id="user_name" class="input" placeholder="请输入用户名" />
            </div>
            <div class="login-container">
                <input  type="password" id="password"  class="input" placeholder="请输入密码" />
            </div>
            <div class="login-container">
                <p  id="login_tips" class="red"></p>
            </div>
            <div class="login-container">
                <input type="button" id="login_btn"  value="立即登录" class="btn-login" />
            </div>
        </div>
    </div>
</div>
<script src="js/jquery/jquery.js"></script>
<script src="js/login.js"></script>
</body>
</html>
