<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理</title>
    <link rel="stylesheet" href="js/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="js/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/common.css">
</head>
<body>
<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card p-4">
                    <div class="card-header text-center text-uppercase h4 font-weight-light">
                        登陆
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-control-label">用户名</label>
                            <input type="text" id="user_name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">密码</label>
                            <input type="password" id="password" class="form-control">
                        </div>

                        <div class="form-group">
                            <p  id="login_tips" class="red"></p>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12">
                                <button id="login_btn"  class="btn btn-primary px-5 fullwidth">登陆</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/vendor/jquery/jquery.js"></script>
<script src="js/login.js"></script>
</body>
</html>
